/*  for all utilities */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.primary-btn {
    background: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 25px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

main,
.header-container {
    width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-size: 45px;
    color: #131313;
}

.section-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* ------------------------------------------------------ */

/* header section */

.header {
    background: #FFF4E7;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;

}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-name h1 {
    font-size: 45px;

}

.nav-link a {
    text-decoration: none;
    margin-left: 40px;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}



.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner-details {
    margin-top: 100px;

}

.banner-details .banner-title {
    font-weight: 700;
    font-size: 64px;
}



.banner-image {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ------------------------------------------ */


/* features section styling */

.features-container {
    display: flex;
    gap: 70px;
    align-items: center;
    width: 100%;
    margin-top: 85px;

}

.features-images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.features-details {
    width: 50%;
}

/* -------------------------------------------------------------------------- */

/* features details section */

.all-features {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

.features-container {
    padding: 30px;
}

.feature {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.feature-title-with-line {
    display: flex;
    gap: 20px;
}

.line {
    width: 5px;
    height: 106px;
    background: #FF900E;
}


.feature-name {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

/* ------------------------------------------------------------------ */


/* some facts */
.facts-details-container{
    width: 50%;
}
.facts-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
    margin-top: 130px;
}

.all-facts {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.fact-card {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}

/* -------------------------------------------- */

/* sponsers */

.sponsers-coontainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
}
.sponsoers-details{
    text-align: center;
    margin-bottom: 50px;
}

.sponsers-company{
    display: flex;
    justify-content: space-around;
    align-items: center;
}